name: test-smartdeploy
on: [push]
env:
  REV_SUFFIX: test-sd-1
jobs:
  run-test:
    runs-on: ubuntu-latest
    if: "contains(github.event.head_commit.message, 'run test')"
    steps:
      - name: azure login
        uses: Azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - run: az config set extension.use_dynamic_install=yes_without_prompt
      - name: Azure SmartDeploy
        uses: t-amberwang/smartdeploy@0.1.0
        with:
          appName: amber-test-container-2
          resourceGroup: amber-test-container
          imageID: mcr.microsoft.com/azuredocs/containerapps-helloworld:latest
          revisionSuffix: $REV_SUFFIX
          stepPct: 20
          stepTime: 1
          monitorInterval: 0.25
      - name: direct traffic away
        run: az containerapp ingress traffic set -n amber-test-container -g amber-test-container --revision-weight amber-test-container--ha9tfua=100
      - name: deactivate
        run: az containerapp revision deactivate --revision amber-test-container--$REV_SUFFIX --resource-group amber-test-container

