name: test-smartdeploy
on: [push]
env:
  REV_SUFFIX: test-sd-8
  APP_NAME: amber-test-container-2
  RESOURCE_GROUP: amber-test-container
  PRIOR_REVISION: hi2
jobs:
  run-test:
    runs-on: ubuntu-latest
    if: "contains(github.event.head_commit.message, 'run test')"
    steps:
      - name: azure login
        uses: Azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Azure SmartDeploy
        uses: t-amberwang/smartdeploy@0.2.0
        with:
          appName: $APP_NAME
          resourceGroup: $RESOURCE_GROUP
          imageID: mcr.microsoft.com/azuredocs/containerapps-helloworld:latest
          revisionSuffix: $REV_SUFFIX
          logAnalyticsWorkspace: amber-test-app-logs
          stepPct: 33
          stepTime: 5
          monitorInterval: 1
          monitors: https://www.google.com, https://www.bing.com
